vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 May 2008 15:40:38 -0000
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|admin/MemberSignInOrig.htm
vti_cacheddtm:TX|31 May 2008 15:40:38 -0000
vti_filesize:IR|6285
vti_cachedlinkinfo:VX|S|/templates/images/pagebck.jpg S|/templates/images/img_03.jpg S|/templates/images/img_28.jpg
vti_cachedsvcrellinks:VX|FSUS|templates/images/pagebck.jpg FSUS|templates/images/img_03.jpg FSUS|templates/images/img_28.jpg
vti_lineageid:SR|{035A3E6F-2418-4E30-A4CC-4DF47E4ED70B}
