DIV.alert_n {
	BORDER-RIGHT: #f00 3px solid; PADDING-RIGHT: 2px; BORDER-TOP: #f00 3px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 1em 0px; BORDER-LEFT: #f00 3px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #f00 3px solid; BACKGROUND-COLOR: #fdd
}
DIV.alert_a {
	BORDER-RIGHT: #0f0 3px solid; PADDING-RIGHT: 2px; BORDER-TOP: #0f0 3px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 1em 0px; BORDER-LEFT: #0f0 3px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #0f0 3px solid; BACKGROUND-COLOR: #dfd
}
DIV.alert_n P {
	MARGIN: 0px
}
DIV.alert_a P {
	MARGIN: 0px
}
.sessiondetails {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 1em; MARGIN: 0px; COLOR: #999; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.sessiondetails A {
	COLOR: #999; TEXT-DECORATION: none
}
.sessiondetails A:hover {
	TEXT-DECORATION: underline
}
#nav {
	MARGIN: 0px; WIDTH: 150px
}
#nav UL {
	PADDING-LEFT: 0px; MARGIN-LEFT: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
#nav LI {
	MARGIN-BOTTOM: 2px; LIST-STYLE-TYPE: none
}
#nav A {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ddd 1px solid; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ddd 1px solid; WIDTH: 160px; COLOR: #00f; PADDING-TOP: 3px; BORDER-BOTTOM: #ddd 1px solid; BACKGROUND-COLOR: #fff; TEXT-DECORATION: none
}
#nav A:hover {
	COLOR: #00f; BACKGROUND-COLOR: #eee
}
UL.nav_tab {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; FONT: 1em Verdana, sans-serif; MARGIN-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #333 1px solid
}
UL.nav_tab LI {
	DISPLAY: inline; MARGIN: 0px; LIST-STYLE-TYPE: none
}
UL.nav_tab LI A {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0.5em; BACKGROUND: #fff; PADDING-BOTTOM: 3px; MARGIN-LEFT: 3px; BORDER-LEFT: #000 1px solid; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: #000 1px; TEXT-DECORATION: none
}
UL.nav_tab LI A:hover {
	BORDER-LEFT-COLOR: #000; BACKGROUND: #009; BORDER-BOTTOM-COLOR: #000; COLOR: #fff; BORDER-TOP-COLOR: #000; BORDER-RIGHT-COLOR: #000
}
UL.nav_tab LI A#current {
	BACKGROUND: #00d; COLOR: #fff; BORDER-BOTTOM: #333 1px solid
}
TABLE.layout1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
TABLE.layout1 TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
TABLE.layout1 TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
TABLE.layout2 {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.layout2 TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 12px; PADDING-LEFT: 4px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
TABLE.layout2 TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 4px; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #000; BORDER-RIGHT-WIDTH: 0px
}
TABLE.layout3 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
TABLE.layout3 TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
TABLE.layout3 TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
.row1 {
	BACKGROUND-COLOR: #fff
}
.row2 {
	BACKGROUND-COLOR: #eee
}
.item {
	FONT-WEIGHT: bold
}
.err {
	COLOR: #f00; FONT-STYLE: italic
}
